.display-block{
  display: block !important;
}
.display-none{
    display: none !important;
  }
.dropdown-menu{
    padding-top: 0px;
    border-radius: 0px 0px 5px 5px;
}
.su_action {
  border-bottom: 1px #cdcdcd solid;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 100%;
  float: left;
}
.su_action a {
  padding: 4px 6px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  float: right;
  border-right: 0px;
}
.su_action i {
  color: #7c7bad;
}
.su_dropdown {
  max-height: 250px;
  overflow-y: scroll;
  position: relative;
  float: left;
  margin-top: 1px;
}
.su_dropdown a{
  color: #4c4c4c;
}
.su_dropdown::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
.su_dropdown::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #5f5e97;
}
.dropdown-menu ul {
  list-style: none;
  padding: 0px;
  margin: 5px 0px;
}
.dropdown-menu li {
  min-height: 20px;
  padding: 2px 5px 2px 25px;
}
.dropdown-menu li input{
  border-radius: 0px;
  padding: 0px 2px;
  display: none;
}
.dropdown-menu li span{
  display: none;
}
.dropdown-menu li .span_ticked{
  display: block;
  font-family: FontAwesome;
  position: absolute;
  content: "\f00c";
  font-weight: bold;
  width: 25px;
  padding-left: 6px;
  left: 0px;
  cursor: pointer;
}
.dropdown-menu li:hover{
  background-color: #efeff8;
}
.dropdown-menuli .selected a{
  font-weight: bold;
}
.su_action label{
  font-size: 13px;
  margin-bottom: 0px;
  vertical-align: middle;
}
.su_action input{
  vertical-align: middle;
  line-height: 100%;
  margin: 0px 3px;
}
